/* SECTION ABOUT */
main #about {
    position: relative;
    top: -40px;
}

main #about p {
    color: var(--color-text-muted);
    display: block;
    margin-bottom: 2rem !important;
}

main #about .about_photo {
    margin: auto;
    text-align: center;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* height: 400px; */
}

main #about .about_photo .photo img {
    background: url(../img/profile/photo.png);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: inset 0 0 0 9px hsla(0, 0%, 100%, .3);
    height: 300px;
    justify-self: center;
    order: 1;
    width: 300px;
}

main #about .about_data {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

main #about .about_data .about_inf {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2rem 0;
    width: 100%;
}

main #about .about_data .about_inf .card {
    width: 25%;
    border: 1px solid #dee2e6;
    margin: 0 2%;
    text-align: center;
    border-radius: 15%;
}

main #about .about_data .about_inf .card .card-body i {
    font-size: 1.5rem;
}

main #about .about_data .about_inf .card .card-body h6 {
    font-size: var(--small-font-size);
}

main #about .about_data .about_inf .card .card-body p {
    margin: 0 !important;
    font-size: var(--tiny-font-size);
    color: var(--color-text-muted);
}

main #about .about_description {
    margin: auto;
    color: var(--color-text-muted);
}



/**
 * 
 *  MEDIA QUERY 
 * 
**/

@media (max-width: 575px) {
    main #about {
        padding: 40px 0 !important;
        position: relative;
        top: 0;
    }

    main #about p {text-align: center;}

    main #about .padding {
        padding: 0;
    }

    main #about .about_photo {
        height: auto;
    }

    main #about .about_photo img {
        width: 60%;
    }

    main #about .about_data .about_inf {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
    }

    main #about .about_data .about_inf .card {}

    main #about .about_data .about_inf .card .card-body {
        height: 100%;
        padding: 10px;
        display: flex;
        flex-direction: column;
    }

    main #about .about_data .about_inf .card .card-body p {
        margin: 0 !important;
    }
}

@media (max-width: 400px) {
    main #about .about_data .about_inf {
        gap: 0;
    }

    main #about .about_data .about_inf .card {
        margin: 0;
        width: 97px;
    }

    main #about .about_data .about_inf .card .card-body {
        padding: 5px;
    }

    main #about .about_data .about_inf .card .card-body p {}
}

@media (max-width: 350px) {


    main #about .about_data .about_inf .card {
        margin: 0;
        width: 90px;
    }

    main #about .about_data .about_inf .card .card-body {}


    main #about .about_data .about_inf .card .card-body p {}

}