/* SECTION ABOUT */
main #about {
    padding-top: 20px !important;
    background-image: -webkit-linear-gradient(110deg, #fff 0%, #fff 100%), url(../img/bg/diamond_upholstery.png);
    background-image: -moz-linear-gradient(110deg, #fff 0%, #fff 100%), url(../img/bg/diamond_upholstery.png);
    background-image: -o-linear-gradient(110deg, #fff 0%, #fff 100%), url(../img/bg/diamond_upholstery.png);
    background-image: linear-gradient(110deg, #fff 0%, #fff 100%), url(../img/bg/diamond_upholstery.png);
    background-image: -ms-linear-gradient(110deg, #fff 0%, #fff 100%);
    background-blend-mode: multiply;
}

main #about .container {}

main #about .container .row {
    position: relative;
}

main #about .about {
    color: var(--container-color);
    margin-bottom: 2rem;
}

main #about p {
    color: var(--container-color);
    display: block;
    margin: 0rem 0 2rem;
}

main #about .about_photo {
    margin: auto;
    text-align: center;
    position: absolute;
    width: 45%;
    left: 5%;
    top: 26%;
}

main #about .about_photo img {
    background: url(../img/profile/photo.png);
    object-fit: cover;
    /* background-position: 50%; */
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
    box-shadow: inset 0 0 0 9px hsla(0, 0%, 100%, .3);
    height: 100%;
    justify-self: center;
    order: 1;
    width: 50%;
}

main #about .about_data {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

main #about .about_data .about_inf {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2rem 0;
    width: 100%;
}

main #about .about_data .about_inf .card {
    width: 25%;
    border: 1px solid #eaeaea;
    margin: 0 2%;
    text-align: center;
}

main #about .about_data .about_inf .card .card-body i {
    font-size: 1.5rem;
}

main #about .about_data .about_inf .card .card-body h6 {
    font-size: var(--small-font-size);
}

main #about .about_data .about_inf .card .card-body p {
    margin: 0 !important;
    font-size: var(--tiny-font-size);
    color: var(--color-text-muted);
}

main #about .about_description {
    margin: auto;
    color: var(--color-text-muted);
}



/**
 * 
 *  MEDIA QUERY 
 * 
**/

@media (max-width: 991px) {

    main #about .container {}

    main #about .container .row {
        position: inherit;
    }

    main #about .padding {
        padding: 0;
    }

    main #about .about_photo {
        position: initial;
        width: 100%;
    }
}

@media (max-width: 575px) {
    main #about {
        padding: 30px 0 !important;
        position: relative;
        top: 0;
    }

    main #about .about {
        margin: 0 0 1rem 0;
    }

    main #about p {
        text-align: center;
        margin: 0rem;
        margin: 2rem 0;
    }

    main #about .about_photo {
        padding: 0 !important;
        position: inherit;
    }

    main #about .about_photo img {
        width: 60%;
    }

    main #about .about_data {
        padding: 10px 0;
    }

    main #about .about_data .about_inf {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
    }

    main #about .about_data .about_inf .card {}

    main #about .about_data .about_inf .card .card-body {
        height: 100%;
        padding: 10px;
        display: flex;
        flex-direction: column;
    }

    main #about .about_data .about_inf .card .card-body p {
        margin: 0 !important;
    }
}

@media (max-width: 400px) {
    main #about .about_data .about_inf {
        gap: 0;
        display: flex;
        justify-content: space-around;
    }

    main #about .about_data .about_inf .card {
        margin: 0;
        width: 97px;
        border: 0;
    }

    main #about .about_data .about_inf .card .card-body {
        padding: 5px;
    }

    main #about .about_data .about_inf .card .card-body p {}
}

@media (max-width: 350px) {


    main #about .about_data .about_inf .card {
        margin: 0;
        width: 90px;
    }

    main #about .about_data .about_inf .card .card-body {}


    main #about .about_data .about_inf .card .card-body p {}

}