main #contact {
    padding: 3rem 0 !important;
    background-image: -webkit-linear-gradient(110deg, #fff 0%, #fff 100%), url(../img/bg/diamond_upholstery.png);
    background-image: -moz-linear-gradient(110deg, #fff 0%, #fff 100%), url(../img/bg/diamond_upholstery.png);
    background-image: -o-linear-gradient(110deg, #fff 0%, #fff 100%), url(../img/bg/diamond_upholstery.png);
    background-image: linear-gradient(110deg, #fff 0%, #fff 100%), url(../img/bg/diamond_upholstery.png);
    background-image: -ms-linear-gradient(110deg, #fff 0%, #fff 100%);
    background-blend-mode: multiply;
    /* background: #494d55 url(../img/bg/map.png) no-repeat center center; */
}

main #contact .container {}

main #contact .container>h1 {
    margin-bottom: 3rem;
    text-align: center;
    color: var(--container-color);
}

main #contact .contact-title {
    font-size: 2.2rem;
    margin-bottom: 2rem;
    color: var(--container-color);
}

main #contact .content-box {
    display: flex;
    margin-bottom: 2rem;
    gap: 10px;
}

main #contact .content-box .box-service {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

main #contact p {
    text-align: center;
    color: var(--color-text-muted);
}

main #contact .content-title {
    text-align: center;
    margin: 0px 0 4rem;
    width: 100%;
}

main #contact .content-title p {
    color: var(--color-text-muted);
    margin: 0;
}

main #contact .box-service .card {
    transition: .3s;
    width: 100%;
}

main #contact .box-service .card:hover {
    box-shadow: 0 0.5rem 1rem rgba(var(--bs-body-color-rgb), .15) !important;
}

main #contact .box-service .card:hover .card-body .icon-mail {
    color: #d75900;
}

main #contact .box-service .card:hover .card-body .icon-whatsap {
    color: #00ad5c;
}

main #contact .box-service .card:hover .card-body .icon-git {
    color: #404eed;
}

main #contact .box-service .icon-mail,
.icon-whatsap,
.icon-git {
    font-size: 1rem;
    font-size: 2.5rem;
    color: var(--color-primary);
    /* margin-bottom: 1rem; */
    transition: .3s;
}

main #contact .box-service .card .card-body {
    /* display: flex; */
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
}

main #contact .box-service .card .card-body .inf {}

main #contact .box-service .card .card-body .inf h5 {
    margin: 1rem 0;
    font-size: 1rem;
}

main #contact .box-service .card .card-body .inf p {
    margin: 0;
}

main #contact .box-service .card .card-body .nav-link {
    color: var(--color-primary);
    font-size: var(--small-font-size);
    display: flex;
    gap: 3px;
    width: 100%;
    justify-content: flex-end;
    margin-top: 10px;
}

main #contact .box-service .card .card-body .nav-link.a:hover {
    color: #d75900;
}

main #contact .box-service .card .card-body .nav-link.b:hover {
    color: #00ad5c;
}

main #contact .box-service .card .card-body .nav-link.c:hover {
    color: #404eed;
}

main #contact .box-service .card .card-body .nav-link i {
    transition: .3s;
    margin: 2px 0 0 0;
}

main #contact .box-service .card .card-body .nav-link:hover i {
    -webkit-transform: translateX(.25rem);
    transform: translateX(.25rem);
    color: #1bd57e;
}


/* COL FORM */

main #contact form {
    padding: 2rem .5rem;
}

main #contact form .row {
    display: flex;
    margin: 0;
    justify-content: center;
    align-items: center;
}

main #contact form .row .box {
    display: flex;
    /* justify-content: center; */
}

main #contact form .row .box i {
    margin-right: 1rem;
    font-size: 1.5rem;
}

main #contact form .row .box input {}

main #contact form .row>div .position {
    position: relative;
    width: fit-content;
    margin: auto;
    margin-top: 1rem;
}

main #contact form .row>div .position input[type="submit"] {
    margin-top: 1rem;
    padding: 6px 40px;
}

main #contact form .row svg {
    position: absolute !important;
    right: 8px;
    bottom: 7px;
    color: #fff;
}

@media (max-width: 992px) {
    main #contact .row {}
}


@media (max-width: 576px) {
    main #contact {
        padding: 40px 0 99px !important;
        position: relative;
        top: 0;
        height: 100%;
    }

    main #contact .content-box {
        flex-wrap: wrap;
    }

    main #contact .container>h1 {
        margin-bottom: 0;
        font-size: 4.2rem;
    }

    main #contact .contact-title {
        font-size: 1.5rem;
        margin: 0 0 2rem 0;
    }

    main #contact form .row .box i {
        display: none;
    }
}

@media (max-width: 576px) {
    main #contact .container>h1 {
        margin-bottom: 0;
        font-size: calc(1.625rem + 4.5vw);
    }
}