#footer {
    background: #fff;
    text-align: center;
}

#footer .row>div {
    padding: 1rem;
}


/* NAV LINK */
#footer .navbar-nav {
    padding: 1rem 2rem 0;
    justify-content: center;
    display: flex;
    flex-direction: row;
}

#footer .navbar-nav li a {
    color: #81818194;
    font-weight: 600;
    transition: .3s;
    padding: 1rem .5rem;
}

#footer .navbar-nav li a.active {
    color: #000;
}

#footer .navbar-nav li a:hover {
    color: #000;
}