#navbar>div .offcanvas .offcanvas-body #menu_top .nav-item .nav-link {
    margin: 5px;
    display: flex;
    justify-content: center;
    position: relative;
    color: #a3a3a3;
}

#navbar>div .offcanvas .offcanvas-body #menu_top .nav-item .nav-link.active {
    color: #000;
    font-weight: 500;
}

#navbar>div .offcanvas .offcanvas-body #menu_top .nav-item .nav-link.active::after {
    width: 100%;
}

#navbar>div .offcanvas .offcanvas-body #menu_top .nav-item .nav-link:hover {
    color: #646464;
}

#navbar>div .offcanvas .offcanvas-body #menu_top .nav-item .nav-link::after {
    content: "";
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    position: absolute;
    transition: all 0.1s linear;
    background-color: var(--background-color);
}

#navbar>div .offcanvas .offcanvas-body #menu_top .nav-item .nav-link:hover::after {
    width: 100%;
}

#navbar>div .offcanvas .offcanvas-body #menu_top .nav-item .nav-link i {
    margin: 0 15px 0 0;
}



/**
 * 
 *  MEDIA QUERY 
 * 
**/
@media (max-width: 991px) {

    #navbar>div .offcanvas .offcanvas-body #menu_top .nav-item {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #navbar>div .offcanvas .offcanvas-body #menu_top .nav-item .nav-link {
        border-radius: 5px;
        width: 80%;
        padding: 5px 1rem;
        color: #000;
        display: flex;
        justify-content: flex-start;
    }

    #navbar>div .offcanvas .offcanvas-body #menu_top .nav-item .nav-link:hover {
        background-color: #424649;
        color: #fff;
        transition: 0.0s !important;
    }

    #navbar>div .offcanvas .offcanvas-body #menu_top .nav-item .nav-link.active {
        background-color: var(--color-primary);
        border-radius: 5px;
        color: #fff;
        width: 80%;
        padding: 5px 1rem;
    }

    #navbar>div .offcanvas .offcanvas-body #menu_top .nav-item .nav-link.active::after {
        width: 0;
    }

    #navbar>div .offcanvas .offcanvas-body #menu_top .nav-item .nav-link:hover::after {
        width: 0;
    }
}

@media (max-width: 400px) {
    #navbar>div .nav-link {
        width: 80%;
    }


    #navbar>div .offcanvas .offcanvas-body {
        padding: 1rem 0;
    }

    #navbar>div .offcanvas .offcanvas-body #menu_top .nav-item .nav-link {
        margin-bottom: 10px;
    }
}

@media (max-width: 280px) {
    #navbar .container-fluid .nav-link {
        width: 73%;
    }
}