@import "variables.css";
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

body {
    font-family: 'Comfortaa', cursive !important;
}

main>section {
    padding: 80px 0;
}

main>div .container {
    padding: 60px 0;
    height: 100%;
}

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000000;
    z-index: 100000;
    transition: 1s all;
}

#preloader::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    /* background: #fff url(../img/load/loading3.gif) center center no-repeat; */
    background: #fff url(../img/load/box-move.gif) center center no-repeat;
    z-index: 500000;
    transition: 2s all;
    object-fit: cover;
}

.conection {
    position: relative;
}

.conection span {
    position: absolute;
    background: greenyellow;
    padding: 5px;
    border-radius: 50%;
}

/* ELIMINAR GOTA DE AGUA DEL SERVIDOR */
a[href="https://www.000webhost.com/?utm_source=000webhostapp&utm_campaign=000_logo&utm_medium=website&utm_content=footer_img"] {
    display: none !important;
    position: relative;
    right: -5000px;
}

/*
 *
    BTN WHATSAPP CUSTOMIZE STYLE
    ELIMINATE LINK DEMO APP WHATSAPP
 *
*/
/* CONTENEDOR PADRE */
.hTNZSl {
    display: flex !important;
    flex-direction: column;
    z-index: 1 !important;
}

.Window__Component-sc-1wwhwms-0 {
    z-index: 1 !important;
}

div[type="text"] {
    color: var(--color-white);
    box-shadow: none !important;
    padding: 4px;
    left: 4px;
    margin-top: 2rem !important;
    border-radius: 10px !important;
    background-color: #0ec12f;
}

.kLLTIE::before,
.kLLTIE::after {
    border: 1px solid var(--color-border-gree) !important;
}

/* ELIMINA EL CONTENIDO QUE ESTA AL LADO DEL BOTO */
.Bubble__BubbleText-sc-13azvyr-0 {
    display: none !important;
}

/* DAMOS BORDE SEMIREDONDO AL BTN */
.kLdSGJ::before,
.kLdSGJ::after {
    border-radius: 10px !important;
}

/* DAMOS BORDE SEMIREDONDO AL LA ANIMACION */
.Bubble__BubbleComponent-sc-13azvyr-3::before {
    border-radius: 10px !important;
}

/* DAMOS BORDE SEMIREDONDO AL LA ANIMACION */
.Bubble__BubbleComponent-sc-13azvyr-3::after {
    border-radius: 10px !important;
}

/* NOTIFICACION DEL BTN */
.gFtgEV {
    background: url(../img/notification/icon.png) center no-repeat !important;
    background-size: 100% 100% !important;
    width: 15px !important;
    height: 15px !important;
    top: -5px !important;
    right: -3px !important;
}

/* FOCUS COLOR CHANGE BLUE */
.content-input input,
.content-select select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.pagination:focus,
.active>.page-link:focus,
.page-link.active:focus,
.page-link:focus {
    border-color: #0090ff36 !important;
    box-shadow: 0 0 0 1px #0091ff !important;
}

.form-control:focus,
.form-select:focus,
.btn:focus,
.btn-close:focus,
.navbar-toggler:focus {
    border-color: #0090ff36 !important;
    box-shadow: 0 0 0 1px #5f5f5f !important;
}

/* CHANGE COLOR SELECTED DOCUMENT */
::selection {
    background: var(--container-color) !important;
    border-radius: 5px !important;
    color: #fff;
}


@-moz-document url-prefix() {
    ::-webkit-scrollbar {
        width: 0px !important;
        height: 0px;
        background: transparent;
    }
}

::-webkit-progress-bar {
    padding: 10px;
    width: 100%;
    background-color: #0087b2;
}

::-webkit-scrollbar {
    width: 0px !important;
    height: 0px;
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: var(--update-color-page);
}

::-webkit-scrollbar-thumb {
    background: #0d6efd;
    /* CAMBIA EL COLOR DE LA BARRA DE DESPLAZAMIENTO */
    -webkit-box-shadow: inset 1px 1px 2px rgb(155 155 155 / 40%);
    /* CAMBIA EL COLOR POR ENCIMA DE LA BARRA */
}

::-webkit-scrollbar-track {
    background: #5996ff;
    /* CAMBIA EL COLOR DEL CONTENEDOR */
    -webkit-box-shadow: inset 1px 1px 2px #fff;
    /* CAMBIAR EL COLOR DE LOS BORDER DEL CONTENEDOR PADRE */
    border: 1px solid #D8D8D8;
    /* COLOCAR UN BORDE PARA CUSTOMISAR */
}

html {
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}

body #scroll-top {
    display: none;
    color: #fff;
    position: fixed;
    right: 20px;
    text-align: center;
    transition: all 0.3s ease 0s;
    /* z-index: 200; */
    bottom: 80px;
    x: 2000;
}

body #scroll-top:hover {
    box-shadow: 0px 2px 6px 1px rgb(0 0 0 / 30%);
    height: 31px;
    width: 32px;
}

body #scroll-top:hover i {
    animation: 800ms linear 0s normal none infinite running scroll-ani-to-top;
    height: 100%;
    left: 0;
    margin-bottom: -15px;
    position: absolute;
    width: 100%;
    bottom: 0;
}



/* SECTION WELCOME */
main #welcome {
    background-image: -webkit-linear-gradient(110deg, #fff 1%, #fff 70%), url(../img/bg/diamond_upholstery.png);
    background-image: -moz-linear-gradient(110deg, #fff 1%, #fff 70%), url(../img/bg/diamond_upholstery.png);
    background-image: -o-linear-gradient(110deg, #fff 1%, #fff 70%), url(../img/bg/diamond_upholstery.png);
    background-image: linear-gradient(110deg, #fff 1%, #fff 70%), url(../img/bg/diamond_upholstery.png);
    background-image: -ms-linear-gradient(110deg, #fff 1%, #fff 70%);
    background-blend-mode: multiply;
}

main #welcome .row {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 4rem !important;
}

main #welcome .social {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 !important;
}

main #welcome .inf-profile {
    /* padding: 2rem; */
    order: 2;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-end;
    padding: 0;
}

main #welcome .inf-profile>div {
    padding: 2rem 0 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

main #welcome .inf-profile>div .title {
    -webkit-text-stroke-width: thin;
    /* width: 100%; */
    margin: 0;
}

main #welcome .inf-profile>div .subtitle {
    padding-left: 5.4rem;
    position: relative;
    margin: .5rem 0;
    color: var(--color-primary);
    font-weight: 300;
    display: flex;
}

main #welcome .inf-profile>div .subtitle::before {
    background-color: var(--background-color);
    content: "";
    height: 1px;
    left: 0;
    position: absolute;
    top: 1.3rem;
    width: 70px;
}

main #welcome .inf-profile>div .description {
    margin: 1rem 0;
    color: #757575;
    padding: 0 2rem;
}

main #welcome .inf-profile>div a {
    margin: 2rem 0 0;
    /* width: 100%; */
    /* display: flex; */
    /* justify-content: flex-end; */
}

main #welcome .welcome_photo {
    -webkit-animation: profile_animate 15s ease-in-out 100ms infinite;
    animation: profile_animate 15s ease-in-out 100ms infinite;
    background: url(../img/profile/photo.png) top no-repeat;
    background-size: 100%;
    box-shadow: inset 0 0 0 9px hsla(0, 0%, 100%, .3);
    height: 450px;
    order: 1;
    width: 350px;
    padding: 0 !important;
}


/* SECTION SKILL */
main #skill {
    /* padding: 6rem 0 3rem !important; */
    background-image: -webkit-linear-gradient(110deg, #fff 0%, #fff 100%), url(../img/bg/diamond_upholstery.png);
    background-image: -moz-linear-gradient(110deg, #fff 0%, #fff 100%), url(../img/bg/diamond_upholstery.png);
    background-image: -o-linear-gradient(110deg, #fff 0%, #fff 100%), url(../img/bg/diamond_upholstery.png);
    background-image: linear-gradient(110deg, #fff 0%, #fff 100%), url(../img/bg/diamond_upholstery.png);
    background-image: -ms-linear-gradient(110deg, #fff 0%, #fff 100%);
    background-blend-mode: multiply;
}

main #skill .box_skill {
    background: #fff;
    text-align: center;
    display: flex;
    padding: 1rem;
    justify-content: space-evenly;
    border: 1px solid var(--color-border-gray);
    flex-wrap: wrap;
}

main #skill .box_skill .card {
    width: 110px;
    border: 1px solid #dee2e6;
    text-align: center;
}

main #skill .box_skill .card .card-body {
    color: #fff;
    border: 0;
    border-radius: 5px;
}

main #skill .box_skill .card .card-body.html {
    background-color: #ce5001;
}

main #skill .box_skill .card .card-body.bootstrap {
    background-color: #7010ef;
}

main #skill .box_skill .card .card-body.css {
    background-color: #0096dc;
}

main #skill .box_skill .card .card-body.git {
    background-color: #e94e31;
}

main #skill .box_skill .card .card-body.js {
    background-color: #fcd43f;
}

main #skill .box_skill .card .card-body.react {
    background-color: #5ed3f3;
}

main #skill .box_skill .card .card-body.wp {
    background: linear-gradient(180deg, #40a2c7 50%, #2786b6 50%);
}

main #skill .box_skill .card .card-body.sass {
    background-color: #c66394;
}

main #skill .box_skill .card .card-body.php {
    background-color: #7377ad;
}

main #skill .box_skill .card .card-body.mysql {
    background: radial-gradient(#d58c17 -20%, #005681 70%);
}

main #skill .box_skill .card .card-body.node {
    background-color: #68b945;
}

main #skill .box_skill .card .card-body.mdb {
    background-color: #118d4d;
}

main #skill .box_skill .card .card-body.python {
    background: linear-gradient(135deg, #fcd43f 50%, #306897 50%);
}

main #skill .box_skill .card .card-body.docker {
    background: linear-gradient(#0087b2 30%, #2391e6 70%);
}

main #skill .box_skill .card .card-body.java {
    /* background: linear-gradient(#0087b2 30%, #2391e6 70%); */
    background-color: #e71e24;
}

main #skill .box_skill .card .card-body.psql {
    background-color: #2e5e8c;
}

main #skill .box_skill .card .card-body i {
    font-size: 1.7rem;
}

main #skill .box_skill .card .card-body h5 {
    font-size: var(--small-font-size);
    margin: 0;
}

main #skill .box_skill .card .card-body p {
    margin: 0;
    font-size: var(--tiny-font-size);
    /* color: var(--color-text-muted); */
    color: #fff;
}



/* MODALS */
main .modal {
    background: rgb(0 0 0 / 36%);
    transition: .3s;
}


main .modal.show .modal-dialog {
}

main .modal .modal-dialog .modal-content {
    border: 0 !important;
}

main .modal .modal-dialog .modal-content .modal-header {
    background: var(--container-color);
    color: #fff;
    background-image: var(--bs-gradient) !important;
    border: 0;
}

main .modal .modal-dialog .modal-content .modal-header h3 {
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 1.25rem;
    margin: 0;
    font-weight: bold;
}

/* CONTENT MODAL */
main .modal .modal-dialog .modal-content .modal-body {}

main .modal .modal-dialog .modal-content .modal-body img {
    border-radius: 5px;
}

main .modal .modal-dialog .modal-content .modal-body p {
    font-size: var(--small-font-size);
    text-align: center;
    margin-bottom: 2rem;
    line-height: 1.3;
}

main .modal .modal-dialog .modal-content .modal-body ul {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

main .modal .modal-dialog .modal-content .modal-body ul li {
    display: flex;
    align-items: center;
    margin-bottom: .5rem;
}

main .modal .modal-dialog .modal-content .modal-body ul li p {
    margin: 0;
    text-align: start !important;
}

main .modal .modal-dialog .modal-content .modal-body ul li i {
    margin-right: .5rem;
}

main .modal .modal-dialog .modal-content.dolphins {
    background: #199ceb;
    color: #fff;
}

main .modal .modal-dialog .modal-content.task {
    background: #470b64;
    color: #fff;
}

main .modal .modal-dialog .modal-content.crud {
    background: #555b61;
    color: #fff;
}

main .modal .modal-dialog .modal-content.reproductor {
    background: #4a735f;
    color: #fff;
}

main .modal .modal-dialog .modal-content.tienda {
    background: #085e53;
    color: #fff;
}

main .modal .modal-dialog .modal-content.card {
    background: #787c84;
    color: #fff;
}



/* ANIMATE */
@-webkit-keyframes profile_animate {
    0% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%
    }

    50% {
        border-radius: 30% 60% 70% 40%/50% 60% 30% 60%
    }

    to {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%
    }
}

/* @keyframes profile_animate {
    0% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%
    }

    50% {
        border-radius: 30% 60% 70% 40%/50% 60% 30% 60%
    }

    to {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%
    }
} */


/* ANIMATION OF BTN  */
@keyframes scroll-ani-to-top {
    0% {
        opacity: 0;
        bottom: 0;
    }

    50% {
        opacity: 1;
        bottom: 50%;
    }

    100% {
        opacity: 0;
        bottom: 75%;
    }
}


/**
 * 
 *  MEDIA QUERY 
 * 
**/
@media (max-width: 1024px) {
    main #welcome {}

    main #skill {
        height: fit-content;
    }
}

@media (max-width: 992px) {
    main #welcome {
        padding-bottom: 1px !important;
        height: 100%;
    }

    main #skill {}
}

@media (max-width: 768px) {
    .hTNZSl .bjMDoc {}
}

@media (max-width: 600px) {
    .hTNZSl .bjMDoc {}
}

@media (max-width: 576px) {



    #preloader::before {
        content: "";
        background: #fff url(../img/load/box-move.gif) center center no-repeat;
        background-size: 70%;
    }

    .hTNZSl .bjMDoc {
        width: 65% !important;
    }

    .hTNZSl .bjMDoc .gcMznj {}

    .hTNZSl .bjMDoc .gcMznj .eaCcCT {
        padding: 7px 10px 7px 5px;
        width: 100%;
    }

    .hTNZSl .bjMDoc .gcMznj .eaCcCT .dcYPvh {
        font-size: 12px;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .hTNZSl .fKCpEp {
        padding-bottom: 10px;
        padding-top: 10px;
    }

    .hTNZSl .bjMDoc .gcMznj .eaCcCT .iCUltA {
        margin-right: 0;
    }

    main #welcome {
        padding: 40px 0 10px !important;
        position: relative;
        top: 0;
    }

    main #welcome .inf-profile {
        order: 2;
    }

    main #welcome .welcome_photo {
        order: 1;
        position: relative;
        margin: 0 0 1rem 0;
        width: 50%;
        height: 300px;
    }

    main #welcome .row {
        display: flex;
        justify-content: space-evenly;
    }

    main #skill {
        padding: 0 0 70px !important;
    }

    main #skill .skill {
        margin: 0 !important;
    }

    main #skill .col-12 {
        padding: 0;
    }

    main #skill .box_skill {
        padding: 1rem .5rem;
        gap: 10px 0 !important;
    }

    main #skill .box_skill .card {
        width: 82px;
    }

    main #skill .box_skill .card .card-body {
        padding: 0.5rem;
    }

    main #skill .box_skill .card .card-body i {
        font-size: 1.3rem;
    }

    main #skill .box_skill .card .card-body h5 {
        font-size: 10px;
    }

    main #skill .box_skill .card .card-body p {}

    main .modal .modal-dialog .modal-content .modal-header {
        :
;
        cener: ;
    }

    main .modal .modal-dialog .modal-content .modal-body {
    }

    main .modal .modal-dialog .modal-content .modal-body p {
    font-size: 11px;
    margin-bottom: 1rem;
    font-weight: bold;
}

    main .modal .modal-dialog .modal-content .modal-body ul {}

    main .modal .modal-dialog .modal-content .modal-body ul li {}

    main .modal .modal-dialog .modal-content .modal-body ul li i {}

    main .modal .modal-dialog .modal-content .modal-body ul li p {
    font-size: 10px;
}



}

@media (max-width: 400px) {

    .hTNZSl .bjMDoc {
        width: 80% !important;
        margin-inline: 15px;
    }

    /* SELECT welcome_photo HEADER */
    .hTNZSl .fKCpEp .laaWy {
        width: 45px;
        height: 45px;
    }

    /* SELECT TEXT TITLE HEADER */
    .hTNZSl .fKCpEp .iutTvF {}

    .hTNZSl .fKCpEp .iutTvF .bRbKkp {
        font-size: 14px;
    }

    .hTNZSl .fKCpEp .iutTvF .dhKaKi {
        font-size: 11px;
    }

    .hTNZSl .bjMDoc .gcMznj .eaCcCT .dcYPvh {
        font-size: 11px;
    }

    main #welcome .inf-profile {
        margin: 0 auto;
    }

    main #welcome .inf-profile>div {
        padding: 2rem 0;
        margin: 0 auto;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        align-content: center;
    }

    main #welcome .welcome_photo {
        height: 250px;
    }
}

@media (max-width: 350px) {

    .hTNZSl .bjMDoc {
        width: 90% !important;
    }

    /* SELECT welcome_photo HEADER */
    .hTNZSl .fKCpEp .laaWy {
        width: 45px;
        height: 45px;
    }

    /* SELECT TEXT TITLE HEADER */
    .hTNZSl .fKCpEp .iutTvF {}

    .hTNZSl .fKCpEp .iutTvF .bRbKkp {
        font-size: 15px;
    }

    .hTNZSl .fKCpEp .iutTvF .dhKaKi {
        font-size: 11px;
    }

    .hTNZSl .bjMDoc .gcMznj .eaCcCT .dcYPvh {
        /* font-size: 9px; */
        width: 100%;
    }

    main #welcome {
        padding-bottom: 1px !important;
    }

    main #welcome .row {
        display: flex;
        justify-content: space-around;
    }

    main #welcome .inf-profile {
        margin: 0;
    }

    main #welcome .welcome_photo {
        height: 200px;
    }
}

@media (max-width: 280px) {

    .hTNZSl .bjMDoc {
        width: 80% !important;
    }

    /* SELECT welcome_photo HEADER */
    .hTNZSl .bjMDoc .laaWy {}

    /* SELECT TEXT TITLE HEADER */
    .hTNZSl .bjMDoc .laaWy .iutTvF>div {}

    .hTNZSl .bjMDoc .laaWy .iutTvF>div>div {}



    .hTNZSl .bjMDoc .gcMznj {}

    .hTNZSl .bjMDoc .gcMznj .eaCcCT {}

    .hTNZSl .bjMDoc .gcMznj .eaCcCT .dcYPvh {
        font-size: 11px;
    }

    main #welcome {
        padding: 40px 0 !important;
    }

    main #welcome .welcome_photo {
        order: 1;
        position: relative;
        margin: 0 0 1rem 0;
        width: 130px;
    }

    main #skill {
        padding: 0 0 70px !important;
    }

    main #skill .skill {
        margin: 0 !important;
    }

    main #welcome .inf-profile>div .subtitle {
        padding: 0;
    }

    main #welcome .inf-profile>div .subtitle::before {
        content: none;
    }
}