main #services {
    height: 100vh;
    background-image: -webkit-linear-gradient(110deg, #fff 0%, #fff 100%), url(../img/bg/diamond_upholstery.png);
    background-image: -moz-linear-gradient(110deg, #fff 0%, #fff 100%), url(../img/bg/diamond_upholstery.png);
    background-image: -o-linear-gradient(110deg, #fff 0%, #fff 100%), url(../img/bg/diamond_upholstery.png);
    background-image: linear-gradient(110deg, #fff 0%, #fff 100%), url(../img/bg/diamond_upholstery.png);
    background-image: -ms-linear-gradient(110deg, #fff 0%, #fff 100%);
    background-blend-mode: multiply;
}

main #services .container {
    display: flex;
    justify-content: center;
    align-items: center;
}

main #services .content-title {
    text-align: center;
    margin: 0px 0 3rem;
    width: 100%;
    color: var(--container-color);
}

main #services .content-title p {
    color: var(--container-color);
    margin: 0;
}

main #services .box-service .card {
    height: 270px;
    margin: auto;
    transition: .3s;
}

main #services .box-service .card:hover {
    box-shadow: 0 0.5rem 1rem rgba(var(--bs-body-color-rgb), .15) !important;
}

main #services .box-service .card:hover .card-body .icon-grid {
    color: #ffc107;
}

main #services .box-service .card:hover .card-body .icon-code {
    color: #0d6efd;
}

main #services .box-service .card:hover .card-body .icon-pencil {
    color: #dc3545;
}

main #services .box-service .icon-grid,
.icon-code,
.icon-pencil {
    font-size: 1rem;
    font-size: 2.5rem;
    color: var(--color-primary);
    margin-bottom: 2rem;
    transition: .3s;
}

main #services .box-service .card .card-body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* padding-left: 2rem; */
    justify-content: space-evenly;
}

main #services .box-service .card .card-body .nav-link {
    color: var(--color-primary);
    font-size: var(--small-font-size);
    display: flex;
    gap: 3px;
    width: 100%;
    justify-content: flex-end;
}

main #services .box-service .card .card-body .nav-link.a:hover {
    color: #dc3545;
}

main #services .box-service .card .card-body .nav-link.b:hover {
    color: #ffc107;
}

main #services .box-service .card .card-body .nav-link.c:hover {
    color: #0d6efd;
}

main #services .box-service .card .card-body .nav-link i {
    transition: .3s;
    margin: 2px 0 0 0;
}

main #services .box-service .card .card-body .nav-link:hover i {
    -webkit-transform: translateX(.25rem);
    transform: translateX(.25rem);
    color: #1bd57e;
}



/* SECTION Qualification */

main #qualification {
    background-image: -webkit-linear-gradient(110deg, #fff 0%, #fff 100%), url(../img/bg/diamond_upholstery.png);
    background-image: -moz-linear-gradient(110deg, #fff 0%, #fff 100%), url(../img/bg/diamond_upholstery.png);
    background-image: -o-linear-gradient(110deg, #fff 0%, #fff 100%), url(../img/bg/diamond_upholstery.png);
    background-image: linear-gradient(110deg, #fff 0%, #fff 100%), url(../img/bg/diamond_upholstery.png);
    background-image: -ms-linear-gradient(110deg, #fff 0%, #fff 100%);
    background-blend-mode: multiply;
}


main #qualification .container {
    position: relative;
}

main #qualification .container::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.1);
}

main #qualification .container .row {
    /* padding: 3rem 0; */
    color: var(--container-color);
    position: relative;
}

main #qualification .content-title {
    text-align: center;
    margin: 0 0 3rem;
    padding: 1rem;
}

/* NAVEGATION TAB */
main #qualification .navegation-inf .nav {
    display: flex;
    justify-content: center;
    border: 0 !important;
}

main #qualification .navegation-inf .nav .nav-link {
    border: 0;
    /* margin-left: 5px; */
    border-radius: 5px;
    color: var(--container-color);
}

main #qualification .navegation-inf .nav .nav-link.active {
    border: 0 !important;
    border-radius: 5px;
    background: #222;
    color: #fff;
    margin: 0;
}

/* TAB CONTENT */
main #qualification .tab-content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

main #qualification .tab-content .tab-pane {
    margin: auto;
    transition: .2s;
}

main #qualification .tab-content .tab-pane .content-panel {
    margin: 3rem 0 0 0;
    display: flex;
}

main #qualification .tab-content .tab-pane .content-panel h3 {
    margin: 0 0 0 0 !important;
    font-size: 1rem;
    color: var(--container-color);
    line-height: 0.9;
}

main #qualification .tab-content .tab-pane .content-panel p {
    font-size: var(--small-font-size);
    margin: 5px 0 1rem 0;
    color: var(--container-color);
}

main #qualification .tab-content .tab-pane .content-panel .systems {
    display: flex;
    width: 100%;
    line-height: 1;
    flex-direction: column;
}

main #qualification .tab-content .tab-pane .content-panel .qualification-calender {
    font-size: var(--small-font-size);
    color: var(--container-color);
}

main #qualification .tab-content .tab-pane .content-panel .diploma {
    display: flex;
    width: 100%;
    line-height: 1;
    margin-bottom: 1.5rem;
    flex-direction: column;
    justify-content: flex-end;
}

main #qualification .tab-content .tab-pane .figure-content {
    margin: 0 2rem;
    padding: 1px;
    background: var(--container-color);
    height: 249px;
    position: relative;
}

main #qualification .tab-content .tab-pane .figure-content .figure-rounded {
    position: absolute;
    padding: 0.5rem;
    border-radius: 50%;
    background: var(--container-color);
    top: -5px;
    left: -12px;
}

main #qualification .tab-content .tab-pane .figure-content .figure-line {
    position: absolute;
    padding: 0.5rem;
    border-radius: 50%;
    top: 170px;
    left: -3px;
    background: var(--container-color);
}

main #qualification .tab-content .tab-pane .figure-content .figure-line2 {
    position: absolute;
    padding: 0.5rem;
    border-radius: 50%;
    top: 71px;
    left: -3px;
    background: var(--container-color);
}

main #qualification .tab-content .tab-pane .figure-content .figure-line3 {
    position: absolute;
    padding: 0.5rem;
    border-radius: 50%;
    top: 100px;
    left: -12px;
    background: var(--container-color);
}

main #qualification .tab-content .tab-pane .qualification-data {
    grid-column-gap: 1rem;
    -webkit-column-gap: 1rem;
    column-gap: 1rem;
    display: grid;
    grid-template-columns: 1fr -webkit-max-content 1fr;
    grid-template-columns: 1fr max-content 1fr;
}

main #qualification .tab-content .tab-pane .qualification-data>div .qualification-title {
    font-size: 1rem;
}

/* FIGURE TAB */
main #qualification .tab-content .tab-pane .qualification-data .figure .qualification-rounder {
    background-color: var(--color-primary);
    border-radius: 50%;
    display: inline-block;
    height: 13px;
    width: 13px;
}

main #qualification {}

/**
 * 
 *  MEDIA QUERY 
 * 
**/

@media (max-width: 575px) {
    main #services {
        padding: 40px 0 99px !important;
        position: relative;
        top: 0;
        height: 100%;
    }

    main #services .content-title {
    margin: 0 0 1rem;
}

    main #services .box-service .card {
        height: auto;
    }


    /* SECTION QUALIFICATION */
    main #qualification .container::before {
        /* left: 0; */
        width: 94%;
    }

    main #qualification {}

    main #qualification .tab-content .tab-pane .content-panel .diploma {
        margin: 0;
    }

}

@media (max-width: 425px) {

    main #qualification .tab-content .tab-pane .figure-content {
        margin: 0 1.5rem 0;
        height: 290px;
    }

    main #qualification .tab-content .tab-pane .figure-content .figure-line {
        top: 202px;
    }

    main #qualification .tab-content .tab-pane .figure-content .figure-line2 {
        top: 60px;
    }

    main #qualification .tab-content .tab-pane .figure-content .figure-line3 {}

}

@media (max-width: 350px) {
    main #services .container .row .col-6 {
        width: 100%;
    }

    main #services .box-service .card {
        height: 200px;
        width: 80%;
    }

    main #services .box-service .card .card-body .nav-link {
        width: 100%;
        justify-content: end;
    }

    main #qualification .navegation-inf .nav {

        justify-content: space-between;

    }

    main #qualification .tab-content .tab-pane .content-panel p {
        /* margin: 1rem 0; */
    }
}

@media (max-width: 320px) {

    main #qualification .container .row .col-12 {
        padding: 0;
    }

    main #qualification .navegation-inf .nav {
        display: flex;
        justify-content: center;
    }
}