:root {
    --color-primary: #333;
    --color-secundary: #bbdfff;
    --container-color: #212529;
    --background-color: #000000;
    --color-border-gray: #dee2e6;
    --color-border-gree: #10eb28;
    --color-white: #fff;

    /** 
    /** COLOR TEXT PROFILE USERS
    */
    --color-usertitle-name: #5a7391;
    --clor-usertitle-job: #5b9bd1;
    --color-text-muted: #212529bf;

    /*===========*
    NEW UPDATE
    *===========*/

    /* BACKGROUND TRANSPARENT */
    --update-background-difu: #160b37de;

    /* BACKGROUND FULL */
    --update-background-page: #160b37;

    --update-color-page: rgb(66, 132, 179);

    /* BACKGROUND LINK HOVER */
    --update-hover-background: #22185a;

    /*=========* 
    HEIGHT PAGE
    *==========*/
    --vh-section: 100vh !important;

    /*=========*
    FONT SIZE
    *==========*/
    --small-font-size: 0.775rem;
    --tiny-font-size: 0.625rem;
}